.flex {
  display: flex;
//   background-color: lightblue;
//   border-color: crimson;
//   box-shadow: inset(0, 0, 0, 0.25);
//   border-radius: 3ch;
//   border-style: dotted;
//   border-color: black;
}

.flex-col {
  flex-direction: column;
//   width: auto;
//   border-color: gold;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.home {
  background-image: url("https://cdn5.vectorstock.com/i/1000x1000/49/64/group-people-world-map-vector-3104964.jpg");
  &-container {
        &-heading {
          color: black;
          text-align: center;
    }
        &-list {
      gap: 2rem;
    }
  }
}

.user-detail {
  &-container {
     
    &-inner {
      
      // background-color: rgba(179, 255, 0, 0.212);
      border-color: rebeccapurple;
      padding-left: 30px;
      margin: auto;
      width: 20vw;
      gap: 6rem;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
      border-style: dashed;
      text-align: center;
      box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }
  }
}

.input-search
{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: aqua;
  margin: 10px;
}

.inputt 
{
display: flex;
}

