.flex{

    display: flex;
}

.flex-col {

    flex-direction: column;
}

.flex-wrap{

flex-wrap: wrap;
}

.space-center {

    justify-content: center;
    }

    .align-center{

        align-items: center;
    }

    .home{
            &-container{
            &-heading{

            }
            &-list{
                gap:2rem;
            }
          }
       }

       .userDetail {
          &-container{
             &-inner{
                padding:20px;
                margin:10px;
                gap:3rem;
                box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
             }
            
            }
        } 
                


          


       